* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.bloc-img {
    width: 400px;
    margin: 20px;
}

.img-flex {
    display: flex;
    justify-content: space-around;
}

img {
    margin: 10px;
    border: solid 1px black;
}

h1 {
    text-align: center;
    align-items: center;
    padding: 30px;
    font-size: 50px;
}

.resultat {
    padding: 20px 0;
    text-decoration: underline;
    text-align: center;
}

.ennonce {
    color: black;
}

p {
    margin: 5px;
    color: rgb(59, 58, 58);
}

h2 {
    margin: 5px; 
}